.project-screenshot {
  width: 100%;
  transition: filter 0.2s;
}

.project {
  position: relative;
  top: 5rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.project-container:hover .project {
  opacity: 100%;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.3);
}

.project-container:hover .project-screenshot {
  filter: grayscale(0.5) blur(2px);
  z-index: 1;
}
