@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");

:root {
  --primary-base: #00b6e2;
  --primary-dark: #6188d8;
  --primary-alt: #30a1e3;
  --secondary-light: #9f4e9a;
  --secondary-dark: #866cbf;
}

html {
  background-color: var(--primary-dark);
}

body {
  font-family: "Garamand", Times, serif;
}

.bg-primary-base {
  background-color: var(--primary-base);
}
.bg-primary-dark {
  background-color: var(--primary-dark);
}
.bg-primary-alt {
  background-color: var(--primary-alt);
}
.bg-secondary-light {
  background-color: var(--secondary-light);
}
.bg-secondary-dark {
  background-color: var(--secondary-dark);
}

.primary-base {
  color: var(--primary-base);
}
.primary-dark {
  color: var(--primary-dark);
}
.primary-alt {
  color: var(--primary-alt);
}
.secondary-light {
  color: var(--secondary-light);
}
.secondary-dark {
  color: var(--secondary-dark);
}

.project {
  position: relative;
  top: 5rem;
  visibility: hidden;
}

.project-container:hover .project {
  visibility: visible;
}

.nav-item {
  color: white;
}

.nav-item-selected {
  color: var(--primary-base);
}

.nav-item:hover {
  color: var(--primary-base);
  background-color: var(--secondary-dark);
  border-radius: 10px;
}
